<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.segurancarural.gpstracker.sync</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Precisamos da localização em background para enviar os pontos para a fazenda.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Precisamos da localização em background para enviar os pontos para a fazenda.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Precisamos da sua localização para o rastreio da fazenda.</string>
	<key>NSMotionUsageDescription</key>
	<string>Precisamos aceder aos sensores de movimento para detetar acidentes graves ou capotamento do veículo (trator).</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>GIDClientID</key>
	<string>522937712462-4vc4goged9jf34v5q26por5d063p2adv.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.522937712462-4vc4goged9jf34v5q26por5d063p2adv</string>
				<string>com.googleusercontent.apps.522937712462-kupd9i6co961n0e38tc811lnumrjqngn</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
